@font-face {
    font-family: 'Telia Sans';
    src: url('fonts/telia.woff2') format('woff2');
}

@font-face {
    font-family: 'Telia Sans';
    src: url('fonts/telia-bold.woff2') format('woff2');
    font-weight: bold;
}


@font-face {
    font-family: Pebble;
    src: url('fonts/pebble.woff2') format('woff2');
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Telia Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f2f2f2;
    color: #000;
    font-size: 1em;
    position: relative;

    @media (min-width: 1240px) {
        font-size: 16px;
        line-height: 1.375;
    }
}

a {
    color: #990ae3;
    font-weight: 700;
    text-decoration: none;
    transition: color .15s ease;

    &:hover {
        color: #990AED;
    }
}

h1 {
    font-family: Pebble, sans-serif;
    font-size: 80px;
    line-height: 1.05;
    margin: 0;
    text-transform: uppercase;
    color: #9e00e2;
}

h2 {
    font-weight: normal;
    font-size: 50px;
    margin: 0;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: auto;
        left: -80px;
        top: 0;
        bottom: 0;
        background: #990ae3;
    }
}

button {
    display: inline-flex;
    align-items: center;
    background: #990ae3;
    border: 2px solid #990ae3;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .2px;
    max-width: 100%;
    padding: 0 28px;
    position: relative;
    text-align: center;
    transition: .15s ease;
    transition-property: background-color, border-color, color;
    vertical-align: middle;
    font-family: 'Telia Sans';
    font-size: 16px;
    line-height: 1.4;
    min-height: 42px;

    &:hover {
        background-color: #7907b3;
        border-color: #7907b3;
    }
    
    &:focus {
        outline: 2px solid #0094ff;
        outline-offset: 2px;
    }

    &:disabled {
        opacity: .4;
    }

    .icon {
        width: 24px;
        height: 24px;

        &.-right {
            margin-right: -11px;
        }

        &.-left {
            margin-left: -11px;
        }
    }
}

ui-dropdown {
    display: inline-block;
    position: relative;
    
    ui-options {
        display: block;

        width: 380px;

        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        background: #fff;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        margin: 2px 0 0 0;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                padding: 10px 20px;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    right: 10px;
                    background: #e4e4e4;
                }

                &:first-child {
                    &::before {
                        display: none;
                    }
                }

                &[data-selected="selected"],
                &:hover {
                    color: #990AED;
                    background: #f6f6f6;

                    &:not(.-disabled) + li::before,
                    &:not(.-disabled)::before {
                        display: none;
                    }

                    &:first-child {
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                }

                &[data-selected="selected"] {
                    background: #990AED;
                    color: #f6f6f6;

                    &:hover {
                        color: #990AED;
                        background: #f6f6f6;
                    }
                }

                &:focus-visible {
                    outline: 2px solid #0094ff;
                    outline-offset: 0;
                    z-index: 1;
                    border-radius: 3px;

                    & + li::before,
                    &::before {
                        display: none;
                    }
                }

                &[aria-disabled="true"] {
                    color: #8a8a8a;
                    cursor: default;

                    &:hover {
                        background: transparent;
                    }
                }

                &.-special {
                    color: #d100b9;

                    &:hover {
                        color: #fb00d7;
                    }

                    &[data-selected="selected"] {
                        background: #d100b9;
                        color: #f6f6f6;
    
                        &:hover {
                            color: #fb00d7;
                            background: #f6f6f6;
                        }
                    }
                }
            }
        }
    }
}
