header,
main {
    margin: 40px;
    padding: 60px 80px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    background: #fff;
}

main {
    margin-bottom: 300px;
}

section {
    margin: 40px 0 0;
}

section:first-child {
    margin-top: 0;
}
